{% extends "base.html" %}
{% load static %}
{% block title %} Обратная связь {% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
{% endif %}
<form action="/feedback/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.as_p }}
        {{ textform.as_p }}
        {{ fileform }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}