{% extends "base.html" %}
{% load static %}
{% block title %} Авторизация {% endblock %}
{% block content %}
<h1>Авторизация</h1>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
{% endif %}
<form action="/auth/login/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.as_p }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
<a href="/auth/signup/">Я новенький</a>

{% endblock %}