{% extends "base.html" %}
{% load static %}
{% block title %} Регистрация {% endblock %}
{% block content %}
<h1 style="text-align: center; color: #6161ff;">Регистрация</h1>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
<form action="/auth/signup/" method="post" enctype="multipart/form-data" class="signup">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary signup-button">
</form>
<a href="/auth/login/" class="to-login btn btn-primary">Уже смешарик</a>
{% endblock %}