{% extends "base.html" %}
{% load static %}
{% block title %} Регистрация {% endblock %}
{% block content %}
<h1>Регистрация</h1>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
<form action="/auth/signup/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
        {{ profileform.as_p }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
<a href="/auth/login/">Уже смешарик</a>
{% endblock %}