{% extends "base.html" %}
{% load static %}
{% block title %} Пользователи {% endblock %}
{% block content %}
{% for profile in users %}
<h1>Профиль пользователя <a href="/auth/user_detail/{{ profile.id }}/">{{ profile.username }}</a></h1>
{% if profile.first_name %}
<p>Firstname: {{ profile.first_name }}</p>
{% else %}
<p>Firstname: Не указано</p>
{% endif %}
{% if profile.last_name %}
<p>Lastname: {{ profile.last_name }}</p>
{% else %}
<p>Lastname: Не указано</p>
{% endif %}
{% if profile.profile.image %}
<img src="{{ profile.profile.image.url }}">
{% endif %}
<p>Birthday: {{ profile.profile.birthday }}</p>
<p>Email: {{ profile.email }}</p>
<p>Coffee count: {{ profile.profile.coffee_count }}</p>
{% endfor %}
{% endblock %}