<footer>
    <div class="corporation">
        <p>© MaxPawGDBS</p>
        <p id="year">{% now 'Y' %}</p>
    </div>
    <div  class="contacts">
        <p>Мои контакты:</p>
        <a href="https://t.me/maxpawgdbs">Телеграм</a>
    </div>
    <script>
        let serverDateTime = new Date("{% now 'n j Y h:i:s' %}");
        let clientDateTime = new Date(Date.now());
        let difference = Math.abs(clientDateTime - serverDateTime);
        difference = difference / 1000 / 60 / 60 / 24;
        if (difference < 1) {
            const yearTag = document.getElementById("year");
            yearTag.innerHTML = clientDateTime.getFullYear();
        }
    </script>
</footer>