{% load i18n %}
{% load static %}
<header>
    <img src="{% static 'img/icon.png' %}" class="icon" width="50%" height="50%">
    <h2 class="header-title">Django Project</h2>
    <ul class="header-hrefs">
        <li class="{% if request.resolver_match.view_name == 'homepage:home' %}my-active{% endif %}">
            <a href="{% url 'homepage:home' %}">{% trans 'Homepage' %}</a>
        </li>
        <li class="{% if request.resolver_match.view_name == 'about:description' %}my-active{% endif %}">
            <a href="{% url 'about:description' %}">{% trans 'About' %}</a>
        </li>
        <li class="{% if request.resolver_match.view_name == 'catalog:item_list' %}my-active{% endif %}">
            <a href="{% url 'catalog:item_list' %}">{% trans 'Catalog' %}</a>
        </li>
        <li class="{% if request.resolver_match.view_name == 'feedback:feedback' %}my-active{% endif %}">
            <a href="{% url 'feedback:feedback' %}">Feedback</a>
        </li>
        <li>
            <a href="/auth/profile/">Profile</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="/auth/logout/">Logout</a>
        </li>
        {% endif %}
        {% if user.is_superuser %}
        <li>
            <a href="/admin/">Admin</a>
        </li>
        {% endif %}
    </ul>
</header>