.signup{
    text-align:center;
    width: 30%;
    margin-left: 35%;
    border-radius: 10px;
    padding: 10px;
    background-color: #6161ff;
    box-shadow: 1px 1px 10px black;
    color: #f5f3f2;
}
.signup-button{
    width: 80%;
    background-color: #f5f3f2;
    color: #6161ff;
}
.to-login{
    width: 30%;
    margin-left: 35%;
    background-color: #6161ff;
    color: #f5f3f2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.to-login:hover {
    background-color: #f5f3f2;
    color: #6161ff;
}